nav-bar {
  nav {
    &.navbar {
      background-color: white;
      border-radius: 0px;
      border-bottom: 1px solid lightgray;

      .navbar-header {
        .navbar-brand {
          // UprootHR
        }
      }
    }
  }
}
