// MARGINS
.no-top-buffer        { margin-top: 0; }
.tiny-top-buffer      { margin-top: 5px; }
.small-top-buffer     { margin-top: 10px; }
.top-buffer           { margin-top: 20px; }
.big-top-buffer       { margin-top: 30px; }
.huge-top-buffer      { margin-top: 50px; }

.no-bottom-buffer     { margin-bottom: 0; }
.tiny-bottom-buffer   { margin-bottom: 5px; }
.small-bottom-buffer  { margin-bottom: 10px; }
.bottom-buffer        { margin-bottom: 20px; }
.big-bottom-buffer    { margin-bottom: 30px; }
.huge-bottom-buffer   { margin-bottom: 50px; }

.no-left-buffer       { margin-left: 0; }
.tiny-left-buffer     { margin-left: 5px; }
.small-left-buffer    { margin-left: 10px; }
.left-buffer          { margin-left: 20px; }
.big-left-buffer      { margin-left: 30px; }
.huge-left-buffer     { margin-left: 50px; }

.no-right-buffer      { margin-right: 0; }
.tiny-right-buffer    { margin-right: 5px; }
.small-right-buffer   { margin-right: 10px; }
.right-buffer         { margin-right: 20px; }
.big-right-buffer     { margin-right: 30px; }
.huge-right-buffer    { margin-right: 50px; }


// PADDINGS
.no-top-padding        { padding-top: 0; }
.tiny-top-padding      { padding-top: 5px; }
.small-top-padding     { padding-top: 10px; }
.top-padding           { padding-top: 20px; }
.big-top-padding       { padding-top: 30px; }
.huge-top-padding      { padding-top: 50px; }

.no-bottom-padding     { padding-bottom: 0; }
.tiny-bottom-padding   { padding-bottom: 5px; }
.small-bottom-padding  { padding-bottom: 10px; }
.bottom-padding        { padding-bottom: 20px; }
.big-bottom-padding    { padding-bottom: 30px; }
.huge-bottom-padding   { padding-bottom: 50px; }

.no-left-padding       { padding-left: 0; }
.tiny-left-padding     { padding-left: 5px; }
.small-left-padding    { padding-left: 10px; }
.left-padding          { padding-left: 20px; }
.big-left-padding      { padding-left: 30px; }
.huge-left-padding     { padding-left: 50px; }

.no-right-padding      { padding-right: 0; }
.tiny-right-padding    { padding-right: 5px; }
.small-right-padding   { padding-right: 10px; }
.right-padding         { padding-right: 20px; }
.big-right-padding     { padding-right: 30px; }
.huge-right-padding    { padding-right: 50px; }


